.article h1 {
	font-family: var(--font-serif);
	font-size: var(--text-3xl);
	line-height: var(--line-height-3xl);
	font-style: italic;
	border-bottom: 1px solid var(--foreground);
	margin-bottom: 1.5rem;
}

.article h2 {
	font-family: var(--font-serif);
	font-size: var(--text-2xl);
	line-height: var(--line-height-2xl);
	margin-top: 1.5rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid var(--foreground);
	margin-bottom: 1rem;
}

.article h3,
.article h4 {
	font-weight: bold;
	margin-top: 0.5rem;
}

.article p {
	color: var(--foreground);
	font-size: var(--text-base);
	line-height: var(--line-height-base);
}

.article p:not(:last-child) {
	margin-bottom: var(--text-base);
}

.article a {
	color: var(--color-universe-blue);
	text-decoration: underline;
	filter: brightness(1);
	transition: filter 0.2s ease-out;
}

.article a:hover,
.article a:focus {
	filter: brightness(1.4);
}

.article a:visited {
	color: var(--color-article-link-visited);
}
